.como-chegar {
    min-width: 1000px;
    max-height: 700px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.map {
    padding-top: 300px;
    margin-left: 800px;
}

.como-chegar iframe {
    min-width: 400px;
    min-height: 250px;
}
