footer {
    background-color: var(--color-marrom);
    bottom: 0;
    height: 250px;
    color: #f9b998;
}

.footer-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
}

.rodape-endereco {
    border: double #f9b998 4px;
    padding: 5px;
    line-height: 22px;
}

.rodape-atendimento {
    border: double #f9b998 4px;
    padding: 5px;
    line-height: 22px;
}

.social {
    border: double #f9b998 4px;
}


.footer .social a {
    color: #f9b998;
}

.social a {
    text-decoration: none;
    margin: 10px;
    display: block;
}

.social img {
    margin-right: 10px;
    width: 15px;
}

.social .fa-facebook {
    text-align: center;
    border-radius: 3px;
    padding-top: 2px;
    color: #fff;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background-color: #3b5998;
}

.social .fa-whatsapp {
    margin-left: 10px;
}

.linkedin {
    text-align: center;
    cursor: pointer;
}

.rodape-rodape {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.linkedin a {
    color: #f9b998;
    text-decoration: none;
}

.linkedin img {
    width: 20px;
}

@media(max-width:800px) {
    .rodape h4, footer p, footer a {
        font-size: 0.8rem;
    }
}

@media(max-width:660px) {
    .rodape h4, footer p, footer a {
        font-size: 0.7rem;
    }

    .linkedin img {
        width: 10px;
    }

    .social img {
        margin-right: 10px;
        width: 13px;
    }
    
    .social .fa-facebook {
        width: 13px;
        height: 13px;
    }

    .instagram img {
        width: 13px;
    }

    .rodape-endereco {
        line-height: 18px;
    }
    
    .rodape-atendimento {
        line-height: 18px;
    }
}

@media(max-width:600px) {
    .rodape h4, footer p, footer a {
        font-size: 0.5rem;
    }

    .linkedin img {
        width: 8px;
    }

    .social img {
        margin-right: 10px;
        width: 10px;
    }
    
    .social .fa-facebook {
        width: 10px;
        height: 10px;
    }

    .instagram img {
        width: 10px;
    }

    .rodape-endereco {
        line-height: 16px;
    }
    
    .rodape-atendimento {
        line-height: 16px;
    }

    footer {
        height: 200px;
    }
}

@media(max-width:450px) {
    .rodape h4, footer p, footer a {
        font-size: 0.5rem;
    }
    
    .rodape-endereco {
        line-height: 16px;
        border: solid #f9b998 1px;
        padding: 0;
    }
    
    .rodape-atendimento {
        line-height: 16px;
        border: solid #f9b998 1px;
        padding: 0;
    }
    
    .social {
        border: solid #f9b998 1px;
    }

    .social a{
        margin: 7px;
    }
}

@media(max-width:410px) {
    footer {
        height: 170px;
    }
    .rodape h4, footer p, footer a {
        font-size: 0.4rem;
    }

    .linkedin img {
        width: 5px;
    }

    .social img {
        margin-right: 10px;
        width: 6px;
    }
    
    .social .fa-facebook {
        width: 6px;
        height: 6px;
    }

    .instagram img {
        width: 6px;
    }

    .rodape-endereco {
        line-height: 10px;
    }
    
    .rodape-atendimento {
        line-height: 10px;
    }

    .social a{
        margin: 5px;
    }
}


@media(max-width:340px) {
    .rodape h4, footer p, footer a {
        font-size: 0.4rem;
    }

    .linkedin img {
        width: 5px;
    }

    .social img {
        margin-right: 10px;
        width: 6px;
    }
    
    .social .fa-facebook {
        width: 6px;
        height: 6px;
    }

    .instagram img {
        width: 6px;
    }

    .rodape-endereco {
        line-height: 10px;
    }
    
    .rodape-atendimento {
        line-height: 10px;
    }
    
    .social a{
        margin: 4px;
    }
}

@media(max-width:320px) {
    footer {
        height: 280px;
    }
    .footer-footer {
        display: block;
        margin: auto 10px;
    }

    .rodape h4, footer p, footer a {
        font-size: 0.6rem;
    }
    
    .rodape-atendimento {
        margin-top: 10px;
    }
    
    .social {
        margin-top: 10px;
    }
}