footer {
    background-color: var(--color-marrom);
    bottom: 0;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-branco-laranja);
}

.footer .social a {
    color: var(--color-branco-laranja);
}