.container {
    height: calc(100vh - 100px);
    flex: 1;
    overflow: hidden;
}

.photos {
    height: 100vh;
    display: flex;
    transition: all ease 0.8s;
}

.slide-home {
    width: 100vw;
    height: inherit;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.slide-controlls {
    margin-top: 30px;
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slide-control {
    width: 30px;
    height: 70vh;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.178);
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sombra {
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    background-color: rgba(156, 70, 0, 0.377);
}