:root {
    /*variáves css*/
    --color-laranja-escuro: #E17336;
    --color-laranja: #eb8a57;
    --color-laranja-claro: #f3a177;
    --color-laranja-branco: #f9b998;
    --color-branco-laranja: #fed0b9;
    --color-branco-laranja-claro: #ffe7dc;
    --color-marrom: #28180f;
}

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Roboto', sans-serif;
}