.oficina {
    padding-top: 50px;
    text-align: center;
    height: 400px;
    background-color: var(--color-laranja);
}

.oficina img {
    width: 200px;
    margin-right: 50px;
}

.oficina-info {
    padding-top: 50px;
    margin: auto;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oficina-info p {
    color: #28180f;
    font-size: 1.2rem;
}

.oficina h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #28180f;
}